
.h1{
    color:aliceblue;
}

.wrapper{
    padding: 10px;
    ul{
        display: inline;
        li{
            list-style: none;
            a{
                color:aqua;
                &:hover{
                    color: palevioletred;
                }
            }
        }
    }
}